body,
.background {
    background: linear-gradient(108.87deg, #d1ccf4, #e6cece);
    font-family: 'Roboto';
}

.brand-background {
    position: absolute;
    background: linear-gradient(122.48deg, #e6cece, rgba(209, 204, 244, 0.7));
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 350px;
    height: 690px;
    left: 30px;
}

.brand-background h1 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    width: 220px;
    height: 100px;
    text-align: center;
}

.my-home-btn {
    width: 180px;
    height: 80px;
    left: 57px;
    top: 243px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

.spaces-btn {
    width: 180px;
    height: 80px;
    left: 57px;
    top: 243px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

.events-btn {
    width: 180px;
    height: 80px;
    left: 57px;
    top: 243px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

.about-us-btn {
    width: 180px;
    height: 80px;
    left: 57px;
    top: 243px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

.my-home-link {
    text-decoration: none;
    /* Bỏ gạch chân mặc định của thẻ a */
    font-size: 24px;
    font-weight: bold;
    padding-left: 38px;
    color: black;
}

.spaces-link,
.events-link {
    text-decoration: none;
    /* Bỏ gạch chân mặc định của thẻ a */
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
    color: black;
}

.about-us-link {
    text-decoration: none;
    /* Bỏ gạch chân mặc định của thẻ a */
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
    color: black;
}

.home,
.earth,
.calender,
.info {
    position: absolute;
    left: 40px;
    margin-right: 10px;
}

.nhom-2 {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 90px;
}

.space-background-div {
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 690px;
    width: 1190px;
    left: 260px;
}

.space {
    display: flex;
    background: linear-gradient(90.84deg, #F5E9CC 26.18%, #D1CCF4 72.44%);
    height: 60px;
    width: 1125px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 50px;
}

.space-text {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 0, 138, 0.5);
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 5px;
}

.create-room-link {
    text-decoration: none;
    font-size: 13px;
    padding-left: 6px;
    font-weight: bold;
    color: black;
}

.setting-img {
    align-items: center;
    margin-left: 1.5px;
}

.account-img {
    align-items: center;
    margin-left: 3px;
}

.create-room-btn {
    display: inline-flex;
    width: 136px;
    height: 33px;
    left: 57px;
    top: 243px;
    padding: 15px;
    align-items: center;
    margin-top: 13px;
    margin-left: 785px;
    margin-right: 5px;
    border-radius: 40px;
    border: none;
}

.setting-btn {
    display: inline-flex;
    width: 36px;
    height: 36px;
    left: 57px;
    top: 243px;
    font-size: 15px;
    align-items: center;
    margin-top: 13px;
    margin-right: 5px;
    border-radius: 40px;
    border: none;
}

.logout-btn {
    display: inline-flex;
    width: 36px;
    height: 36px;
    left: 57px;
    top: 243px;
    font-size: 15px;
    align-items: center;
    margin-top: 13px;
    margin-right: 10px;
    border-radius: 40px;
    border: none;
}

.search-img{
    margin-top: 10px;
}

.search-bar-div {
    display:grid;
    grid-template-columns:1000px 80px;
    column-gap: 70px;
}

.search-bar {
    padding: 0.8em;
    outline: none;
    margin-left: 35px;
    margin-top: 10px;
    padding-top: 15px;
    font-size: 15px;
    font-family: 'Rotobo';
    border: 2px solid rgb(246, 227, 249);
    background-color: transparent;
    border-radius: 20px;
    min-width: 100px;
}

.search-btn {
    border: none;
    color: #fff;
    background-image: linear-gradient(180deg, #f0e8e8, #E6CECE 100%);
    border-radius: 20px;
    background-size: 100%;
    margin-left: 20px;
    margin-top:10px;
    padding: 1px 14px 13px;
}

button:hover {
    cursor : pointer;
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.code,.art,.lofi,.cafe,.study{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    color: black;
}

.code-btn {
    border: none;
    border-radius: 15px;
    width: 87px;
    height: 35px; 
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 15px;
}

.art-btn {
    border: none;
    border-radius: 15px;
    width: 87px;
    height: 35px;
    margin-right: 15px;
    margin-top: 15px;
}

.lofi-btn {
    border: none;
    border-radius: 15px;
    width: 87px;
    height: 35px;
    margin-right: 15px;
    margin-top: 15px;
}

.study-btn {
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    font-size: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.cafe-btn {
    border: none;
    border-radius: 15px;
    width: 87px;
    height: 35px;
    font-size: 15px;
    margin-top: 15px;
}