body, .background {
    background: linear-gradient(108.87deg, #d1ccf4, #e6cece);
    font-family: 'Roboto';
}

.brand-background {
    position: absolute;
    background: linear-gradient(122.48deg, #e6cece, rgba(209, 204, 244, 0.7));
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 350px;
    height: 500px;
    top: 70px;
  	left: 400px;
}

.bread-space {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    width: 100px;
    height: 100px;
    padding-left: 35px;
    padding-top: 140px;
    text-align: center;
}

.info {
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 500px;
    height: 500px;
    top: 70px;
    left: 600px;
}

.log-in {
    color: rgba(255, 0, 138, 0.5);
    font-weight: bolder;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 50px;
    margin-bottom: 30px;
}

.welcome {
    color: #000;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 50px;
}

.username-div {
    padding-top: 30px;
    padding-left: 50px;
}

.password-div {
    padding-top: 20px;
    padding-left: 50px;
}

.username, .password {
    padding: 10px;
    padding-right: 190px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.user {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 53px;
    bottom: 291px;
}

.pass {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 53px;
    bottom: 230px;
}

/* Mất con mắt trong type = password  */
input[type=password]::-ms-reveal, input[type=password]::-ms-clear {
    display: none;
}

.check-b {
    margin: 10px 5px;
}

.check-box-show-pass {
    margin-top: 5px;
}

.-dont-have-acc-div {
    padding-left: 270px;
    font-size: 14px;
    color:rgba(83, 78, 78, 0.5);
}

.sign-up-link {
    /* Bỏ gạch chân mặc định của thẻ a */
    text-decoration: none;
    color: rgba(132, 188, 240, 0.83);
    position: absolute;
    bottom: 155px; 
    padding-left: 125px;
}

.login-btn {
    padding-top: 30px;
    padding-left: 200px;
}

.btn {
    padding: 15px 30px;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: rgba(255, 0, 138, 0.5);
    cursor: pointer;
    border-radius: 10px;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
   }
   
   .btn:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px;
   }
